form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

label {
	margin-top: 10px;
	margin-bottom: 5px;
}

input[type=text] {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	margin-bottom: 10px;
	width: 300px;
}

input[type=button] {
	background-color: #af7a4c;
	color: rgb(44, 24, 24);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

input[type=button]:hover {
	background-color: #4f19b3;
}

