*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
height:200px;
background-size: cover;
background-color:rgb(0, 217, 255);
background-position: center;
position: relative;
padding:0%;
}

h1 {
	margin-top: 50px;
    font-size: 20px;
}
h2 {
    margin-top: 50px;
    font-size: 15px;

}

form {

	display: flex;
    max-width: 400px;
	flex-direction: column;
    margin-top: 6%;
	padding: 20px;
	align-items: center;
    margin-left: 35%;
    background-color: orange;
    border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
    
}

label, input {
    width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	color: rgb(44, 24, 24);
	padding: 10px;
    border: 1px solid #ccc;
	border: none;
	border-radius: 5px;
	cursor: pointer;

}

input[type="submit"] {
    width: 20%;
	margin-top: 20px;
    background-color: gray;
}

.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 1%;
}
.homebtn{
    width: 10%;
    height: 5%;
    background-color: rgb(0, 229, 255);
    animation: pulse 1s infinite;
    border-radius: 10px;
    position: absolute;
    padding: 10px 20px;
    font-size:18px;
    transform: translate(-50%, -50%);
    top: 4%;
    Left: 85%;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
