<html>
    <head>
        <title> Job Scout</title>
        <link rel="stylesheet" href="landing.css">
        
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="https://pbs.twimg.com/media/Fsi_ECKWAAA7rC7?format=jpg&name=small" class="logo">
                <ul>
                    <li><a href="#">About Us</a></li> 
                    
                </ul>
            </div>
            <div class="content">
                <div class="headingC">
                <h1 align="left">Job Scout has your back <br> Seek and find a job <br>right here... </h1>    
                </div>
                <div class="Pics">
                    <img src="https://i.pinimg.com/564x/b0/c6/6a/b0c66a78d2e82c0b9b2ff96b341e2450.jpg" class="Pics">
                </div>
            </div>
            
        </div>
        <div>
        <button onclick="window.location.href='file:///Users/sharon/scout./logs.html';" class="logbtn"> Get Started
        </button>
        </div>
    </div>
    </body>
</html>
