<!DOCTYPE html>
<html>
<head>
   <title> JobScout</title> 
   <link rel="stylesheet" type="text/css" href="search.css">
<style>
    body{
        padding: 0px;
        margin: 0px;
        background-color: black
    }
</style>
</head>

<body>
    <div class="container">
        <img src="https://pbs.twimg.com/media/Fsi_ECKWAAA7rC7?format=jpg&name=small" class="logo"> 
        <form action="login.php" method="post">
            <h2>SEARCH RIGHT HERE</h2>
            <label for="Specialization">Specialization:</label>
            <input type="text" id="Specialization" placeholder="Enter area of apecialization" name="specializtion" required>

            <label for="Location">Location:</label>
            <input type="Location" id="Location" name="Location" placeholder="Enter location" required>
            
            <input type="submit" value="Search">
        </form>
        </button></div>
    </div>
</body>
</html>
